// variables for colors //
$font-family-primary:"Roboto";
$font-family-secondary:"Shrikhand";
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-search-input:#4a4a4a;
$color-bk-footer:#313131;
$color-bk-black:darken($color-bk-footer,25%);
$color-footer:#fafafa;
$color-bk:#d2d2d2;
$color-shadow-dark:#848484;
$color-header:#f7f7f7;
$color-bk-header:#EAEAEA;
$color-bk-functioning :#F6F6F6;
$color-bk-functioning-hover:lighten($color-primary, 35%);
$color-bk-functioning-shadow:lightgrey;
$color-figure-shadow : silver;
$normal-blue-color:blue;
$normal-white-color:#ffffff;

// variables for media queries //
$breakpoints:( tablet:768px , desktop:992px);
 
//variable for animation_delay card value //
$animation_delay_card:200ms;

// variable for animation-duration loader value 
$animation_duration_loader:3s; 

// variable for maximum number of cards value
$max_number_cards:4;
