@use "../utils/variables" as *;
@use "../utils/mixins" as m;

.menu
{
  &__img
  {
    @include m.width-height(100%,304px);
    @include m.desktop
    {
        height: 485px;
    }
  }
  &__block
  {
    background-color: $color-bk-functioning;
    border-radius: 45px 45px 0 0;
    position:relative;
    margin:-65px auto 0 auto;
    width: 100%;
    padding: 11px 3% 90px 3%;
    @include m.tablet
    {padding:11px 15% 95px 15%}
    @include m.desktop
    {
        width:90%;
        padding: 11px 15px 95px 15px;
    }
    &__column
    {
        display:flex;
        flex-direction: column;
        margin-bottom:36px;
        @include m.desktop
        {
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 50px;
        }
    }
    &__details
    {
        display: flex;
        flex-direction: column;
        max-width: 540px;
        margin: auto;
        width: 100%;
        margin-bottom:14px;
        @include m.tablet
        {
          margin: auto;
        }
        @include m.desktop
        {
            padding-bottom: 35px;
            justify-content: flex-start;
            align-content: center;
            align-items:center;
            @include m.width-height(31%,600px);
            margin-top:0;
        }
    }
    &__dishes
    {
        @extend .menu__block__details;
        margin-bottom:21px;
        @include m.desktop
        {
            padding-bottom: 35px;
            width:31%;
            margin-top:0;
            margin-bottom:0;
        }
    }
    
    &__title
    {
        @include m.flex-justify-content-align-items(flex,space-between,center);
        @include m.desktop
        {
            justify-content: center;
        }
        & span::before
        {
            @include m.heart(400,42px,42px);
        }
        & span::after
        {
            @include m.heart(600,42px,42px);
            @include m.heart-after;  
        }
        & span:hover::after 
        {
          @include m.heart-hover;
        }
        &__element
      {
        font-family: $font-family-secondary;
        font-size: 1.9rem;
        margin: 23px 26px 15px 12px;
        position: relative;
        max-width: 75%;
        @include m.desktop
        {
            font-size: 2.219rem;
            margin-bottom: 31px;
            margin-top:15px;
            text-align:center;
        }
      }
      &__element--note
        {
        @extend .menu__block__title__element;
        margin-top:22px;
        // font-size:1.9rem;
      }
      &__element--palette
      {
      @extend .menu__block__title__element;
      margin-bottom:15px;
      // font-size:1.9rem;
      }
    }
  }
}

// bloc des menus //
.menu__block--delice
{
  @include m.menu__block-init(-65px,73px);
}

.menu__block--palette
{
  @include m.menu__block-init(-65px,63px);
}

.menu__block--note
{ 
  @include m.menu__block-init(-65px,80px);
}

// gros titres menu //  
.menu__block__title__element--delice
{
  @extend .menu__block__title__element;
  font-size:1.9rem;
  margin-bottom:17px;
}

// initialisation  marge en bas bloc des menus //
.menu__block__column--delice
{
  @include m.menu__block__column-init(25px);
}
.menu__block__column--note
{
  @include m.menu__block__column-init(26px);
}
.menu__block__column--palette
{
  @include m.menu__block__column-init(30px);
}

// initialisation  marge en bas sous-bloc des menus : entrées //
.menu__block__details--delice
{
  @include m.menu__block__details-init(5px)
}

  .menu__block__details--note
{
  @include m.menu__block__details-init(20px)
}

.menu__block__details--palette
  {
    @include m.menu__block__details-init(9px)
  }

// initialisation  marge en bas sous-bloc des menus : plats //
.menu__block__dishes--note
  {
    @include m.menu__block__dishes-init(15px)
  } 

.menu__block__dishes--palette
  {
    @include m.menu__block__dishes-init(18px)
  } 

.menu__block__dishes--delice
{
  @include m.menu__block__details-init(12px)
}

// initialisation  marge en bas sous-bloc des menus : desserts //
.menu__block__desserts--note
{
  @include m.menu__block__details-init(14px)
}

.menu__block__desserts--delice
{
  @include m.menu__block__details-init(17px)
} 

.menu__block__desserts--palette
  {
    @include m.menu__block__details-init(5px)
  }

// sous-bloc des menus : propriétés titre commun ( entrées / plats / desserts) //
.menu__block__details__title
{
  display:flex;
  flex-direction: column;
  font-size: 17.5px;
  margin-left: 9px;
  margin-bottom: 10px;
  padding: 0px 0 5px 0;
  
  @include m.desktop
  {
    font-size: 21.5px;
    height:50px;
    margin-left: 0;
    margin-bottom: 33px;
  }

 // sous-bloc des menus : soulignement titre ( entrées / plats / desserts) //
  &::after
  {
    content:"";
    border-bottom: 4px solid $color-tertiary;
    padding-bottom:4px;
    width: 44px;
  }
}

// sous-bloc des menus : titre commun ( entrées / plats / desserts) - définition marge bas //
.menu__block__details__title--delice
{
  @include m.menu__block__details__title-init(8px);
}

.menu__block__details__title--note
{
  @include m.menu__block__details__title-init(9px);
}

.menu__block__dishes__title--delice
{
  @include m.menu__block__details__title-init(10px); 
} 

// sous-bloc des menus : titre ( desserts) - définition marge bas //
.menu__block__desserts__title
{
  @include m.menu__block__details__title-init(13px); 
}

.menu__block__desserts__title--autres
{
  @include m.menu__block__details__title-init(10px);
}

// autres : autres que 'à la française' //

// carte : propriétés // //
.menu__block__details__card
{
  @include m.flex-justify-content-align-items(flex,space-between,flex-end);
  @include m.width-height(100%,auto);
  background-color: $normal-white-color;
  border-radius: 15px;
  box-shadow: 0px 4px 15px $color-bk-functioning-shadow;
  overflow:hidden;
  padding:0 0 0 14px;
  // animation: menu both 0.6s;
  @include m.margin-bottom-init(11px);
  &__d1
  {
    @extend .menu__block__details__card;
    @include m.margin-bottom-init(9px);
  }
  &__d2
  {
    @extend .menu__block__details__card;
    @include m.margin-bottom-init(14px);
  }
  &__d3
  {
    @extend .menu__block__details__card;
    @include m.margin-bottom-init(6px);
  }
  // bloc titre et sous_titre menu
  &__titles
  {
    @include m.menu__block__details__card__titles-init(85%);
    @include m.desktop
      {
        $width-card-titles:65%;
      }
   
    @include m.desktop
        {
           font-size:0.98rem;
        }
    // titre menu //
    &__title
      {
        margin: 0;
        font-size:1.25rem;
        width:95%;
        @include m.title_format(hidden,nowrap,ellipsis);
        @include m.desktop
        {
           font-size:0.98rem;
        }
      }

    &__title--delice
      {
        @extend .menu__block__dishes__card__titles__title;  
        @include m.title_format(initial,normal,ellipsis);
        @include m.desktop
        {
          @include m.title_format(hidden,nowrap,ellipsis);
        }
      } 
    //sous-titre menu //
    &__subtitle
    {    
      margin: 5px 0 14px 0;
      font-size:1.03rem;
      width:97%;
      @include m.title_format(hidden,nowrap,ellipsis);
      @include m.desktop
      {
        font-size:0.95rem;
      }
    } 

}
}
// carte entrée: initialisation marge bas //
.menu__block__details__card--delice
{
  @include m.menu__block__details__card-init(12px);
}

.menu__block__details__card--note
{
  @include m.menu__block__details__card-init(13px);
}

.menu__block__details__card--palette
{
  @include m.menu__block__details__card-init(12px);
}

// carte plat : initialisation marge bas //
.menu__block__dishes__card
{
  @include m.menu__block__details__card-init(15px);
}

.menu__block__dishes__card--delice
{
  @include m.menu__block__details__card-init(15px);
}

.menu__block__dishes__card--palette
{
  @include m.menu__block__details__card-init(13px);
}

// carte dessert: initialisation marge bas //
.menu__block__desserts__card--delice
{
  @include m.menu__block__details__card-init(12px);
}

.menu__block__desserts__card--delice32
{
  @include m.menu__block__details__card-init(16px);
}

.menu__block__desserts__card--note32
{
  @include m.menu__block__details__card-init(15px);
}

.menu__block__desserts__card--palette
{
  @include m.menu__block__details__card-init(12px);
}

.menu__block__desserts__card--palette32
{
  @include m.menu__block__details__card-init(17px);
}

// carte  : bloc titres - initialisation marge bas //
.menu__block__details__card__titles--note
{
  @include m.menu__block__details__card__titles-init(86%); 
}

.menu__block__details__card__titles--palette
{
  @include m.menu__block__details__card__titles-init(82%); 
}

// carte  : bloc titres - gros titre troncture //

.menu__block__details__card__titles__title--palette
{
  @extend .menu__block__details__card__titles__title;
  font-size:1.23rem;
  @include m.title_format(hidden,nowrap,ellipsis);
}

.menu__block__details__card__titles__title--note
{
  @extend .menu__block__details__card__titles__title;
  @include m.title_format(hidden,nowrap,ellipsis);
  width:91%;
  @include m.desktop
}

// carte plat : bloc titres - gros titre initialisation marge //
.menu__block__dishes__card__titles__title
{
  @extend .menu__block__details__card__titles__title;
  @include m.desktop
  {
    margin:0;
  }
}

// carte  : bloc titres - sous-titre  //
.menu__block__details__card__titles__subtitle--palette
{
  @extend .menu__block__details__card__titles__subtitle;
  font-size:1.03rem;
} 

.menu__block__details__card__titles__subtitle--note
{
  @extend .menu__block__details__card__titles__subtitle;
  font-size:1.03rem;
} 

// carte  plat : bloc titres - sous-titre  //
.menu__block__dishes__card__titles__subtitle
{
  @extend .menu__block__details__card__titles__subtitle;
  margin-bottom:13px;
  @include m.desktop
  {
    margin-bottom:14px
  } 
}  

// carte  dessert : bloc titres - sous-titre  //
.menu__block__desserts__card__titles__subtitle
{ 
  @extend .menu__block__details__card__titles__subtitle;
  font-size:1.13em;
  width:80%;
  @include m.desktop
  {
    font-size:0.95rem;
  } 
}

.menu__block__desserts__card__titles__subtitle--delice
{
  @extend .menu__block__desserts__card__titles__subtitle;
  font-size:1rem;
} 

// carte  : bloc titres - Prix : définition marge bas - marge droite //
// A la française //
.menu__block__details__card__price
{
  @include  m.menu__block__details__card__price-init(13px,25px);
}

//Autres menus : délice des sens - la note enchantée - la palette du goût//
.menu__block__details__card__price--autres
{
  @include  m.menu__block__details__card__price-init(14px,27px);
}

// carte  : bloc titres : propriétés boite verte //
.card .menu__block__details__card_iconcheck
{
  display: flex;
  justify-content: center;
  align-items:center;
  align-self:stretch;
  background-color: $color-tertiary;
  width: 5.1rem;
  margin-right: -5.1rem;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  transition:all 0.5s;
}

.card:hover .menu__block__details__card_iconcheck{
  margin-right:0; 
}

// carte  : bloc titres : icône boite verte //
.menu__block__details__card_iconcheck .fa-circle-check
{
  color:$normal-white-color;
  font-size:1.4rem;
  transform:rotate(0turn);
  transition: transform 0.6s ease-in-out;
}

.card:hover .fa-circle-check
{
  transform:rotate(1turn); 
}

//animation carte menu //
@for $i from 2 through $max_number_cards+1 {
 article .card:nth-child(#{$i}) 
  {
      animation: menu 1s ease-out both ($animation_delay_card)*(($i)-1);
      -webkit-animation: menu 1s ease-out both ($animation_delay_card)*(($i)-1);
  }
}

 