.accomodation{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 20px;
}

.accomodation_infos_title {
  display: flex;
  align-items: flex-end;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  min-height: 51px;
  color: var(--primary-color);
  width:635px;
}

.accomodation_infos_location {
  display: flex;
  align-items: flex-end;
  color:var(--primary-color); 
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px; 
  margin-bottom:20px; 
}

.accomodation_infos_tag {
  display: flex;
  align-items: center;
  gap:10px;
}
.accomodation_infos_tag_button_container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  min-height: 25px;
  border-radius: 10px;
  min-width: 115px;
  line-height: 20px;
  padding-left:10px;
  padding-right:10px;
}

.accomodation_infos_tag_button {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: var(--background-color);
}
  
.accomodation_infos_tag_button:last-child {
  margin-right: 0;
}

.accomodation_infos{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;
}
.accomodation_hosts{
  display: flex;
  flex-direction: column;
}

.accomodation_hosts_profile_picture{
  border-radius:50%;
  height:64px;
  width:64px;
}

.accomodation_hosts_profile_name{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 52px;
  width: 93px;
  font-size: 18px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  text-align: right;
  line-height: 25.67px;
  color: var(--primary-color);
}

.accomodation_hosts_details{
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
}

.accomodation_collapse{
  display: flex;
  justify-content: space-between;
  gap: 70px;
  width:100%;
}

.accomodation_collapse_item{
  height:auto;
  width:50%;
}

 



.accomodation_hosts_container_stars{
  display:flex;
  gap:10px;
  justify-content: flex-end;
}

.accomodation_host_stars{
  height: 24px;
  width: 24.75px;
}

.description_content
{
  font-size:18px;
  text-align: left;
}

@media screen and (max-width: 768px)
{
  .accomodation_hosts {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  .accomodation_infos{
    flex-direction:column;
  }
  .accomodation_infos_title {
    height:46px;
    font-size:18px;
  }

  .accomodation_infos_location {
    height:22px;
    font-size:14px;
    line-height:19.96px;
  }
  .accomodation_infos_tag_button_container{
    height: 18px;
    width: 84px;
    line-height: 18px;
  }
  
  .accomodation_infos_tag_button {
    font-size: 10px;
    line-height: 14.26px;
    text-align:center;
  }

  .accomodation_collapse{
    flex-direction:column;
  }
  .accomodation_collapse_item{
    width:100%;
  }

  .accomodation_host_stars{
    height: 18px;
    width: 18px;
  }

}