.cards_container{
    margin-top:63px;
}
.cards{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
    border-radius: 25px;
    background-color:rgb(247,247,247);
    margin: 0 auto 45px auto;}

@media screen and (max-width: 1278px){
    .cards_container{
        margin-top:16px;
    }

    .cards{
    gap: 25px; 
    }      
}
@media screen and (max-width: 768px){ 
    .cards{ 
    width: 100%;
    padding:25px 0px; 
    background-color:#FFFFFF;
    margin-bottom: 60px;}
}