@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #FF6060;
    --secondary-color : #F7F7F7;
    --background-color: #FFFFFF;
    --background-footer: #000000;
    --font-family: Montserrat;
    --color-white-transparent: rgba(255, 255, 255, 0);
    --color-black-semi-transparent: rgba(0, 0, 0, 0.5);
  }


  *, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
  min-width: 315px;
  padding-top: 40px;
  width:100%;
  font-family: var(--font-family);
  margin: 0 auto;
  }

.container {
  width:86%;
  margin-right:auto;
  margin-left: auto;
}

a{
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  }

img {
  object-fit:cover;
  }

@media screen and (max-width: 768px){
  body {
    padding-top: 20px;
  }
  .container {
      width:89%;
  }
}

