.item_container {
    position: relative;
    width: 29.9%;
    height: 340px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
  }

  .item_container figure{
    height:100%;
  }
  
  .item_container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-image: linear-gradient(to bottom, var(--color-white-transparent) 50%, var(--color-black-semi-transparent) 100%);
  }
  
  .item_container:hover {
    box-shadow: 0 5px 10px rgb(0, 0, 0);
  }
  
  .item_container:hover img {
    transform: scale(1.1);
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .item_name_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    max-width: 300px;
    color: var(--background-color);
    height: 52px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 20;
  }
  
  .item_name_container h2 {
    font-size: 18px;
    line-height: 25.67px;
    font-weight: 500;
  }
  
  @media screen and (max-width: 1278px) {
    .item_container {
      width: 47%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .item_container {
      width: 100%;
      height: 255px;
    }
  
    .item_name_container {
      max-width: 295.5px;
      bottom: 15px;
      left: 19.71px;
      right: 19.7px;
    }
  }