/**************************************************/
/***  /components/carousel/carousel.scss     ******/
/**************************************************/
.carousel {
    position: relative;
    display: flex;
    width: 100%;
    height: 415px;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    margin: 0px auto 15px auto;
  }
  
.carousel_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 415px;
    border-radius: 25px;
  }

  /* * superposition carouselImageContainer et le background **/
/****** pseudo-élement ::after pour créer la superposition ****/
.carousel_image_container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25%;
    z-index: 10;
    background-image: linear-gradient(to bottom, var(--color-white-transparent) 100%,var(--color-black-semi-transparent) 100%);
  }
  
.carousel_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 20;
    border-radius: 25px;
    position: relative;
  }

.carousel_arrow{
    position: absolute;
    top: 50%;
    z-index: 30;
    height:79.20px;
    width:46.68px;
    background-color: transparent;
    border:none;
    transform: translateY(-50%);
    cursor: pointer;}

.carousel_arrow_right{
    right: 23.36px;
  }

.carousel_arrow_left{
    left: 23.36px;
  }
  

.carousel_page_number{
  color:var(--background-color);
  font-weight: 500;
  font-size: 18px;
  right: 50%;
  width:auto;
  height:32.4px;
  line-height:25.67px;
  position: absolute;
  bottom: 20px;
  z-index: 50;
  text-align:center;
  }

@media screen and (max-width: 992px) {
  .carousel_arrow {
    height: 35px;
    width: 35px;
  }

  .carousel_arrow_right{
    right: 15px;
  }

.carousel_arrow_left{
    left: 15px;
  }
}

@media (max-width: 768px) {
  .carousel{
    height:255px;
    border-radius:10px; 
  }

  .carousel_image_container{
    height:255px;
  }

  .carousel_image {
    border-radius: 10px;
  }

  .carousel_arrow {
    height: 24px;
    width: 24px;
  }

  .carousel_arrow_right{
    right: 17.51px;
  }

.carousel_arrow_left{
    left: 17.51px;
  }

  .carousel_page_number {
    display:none;
  }  
}