/**************************************************/
/***  /components/carousel/carousel.scss     ******/
/**************************************************/
.carousel {
    position: relative;
    display: flex;
    width: 100%;
    height: 415px;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    margin: 20px auto;
  }
  
  .carouselImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 415px;
    border-radius: 25px;
    border: 5px solid var(--background-color);
  }

  /* * superposition carouselImageContainer et le background **/
/****** pseudo-élement ::after pour créer la superposition ****/
.carouselImageContainer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25%;
    z-index: 10;
    background-image: linear-gradient(to bottom, var(--color-white-transparent) 100%,var(--color-black-semi-transparent) 100%);
  }
  
  .carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 20;
    border-radius: 25px;
    position: relative;
  }

.carouselArrow{
    position: absolute;
    top: 50%;
    z-index: 30;
    height:80px;
    width:46px;
    background-color: transparent;
    border:none;
    transform: translateY(-50%);
    cursor: pointer;}

 .carouselArrowRight{
      right: 25px;
  }

.carouselArrowLeft{
      left: 25px;
  }
  

  .carouselPage{
    font-size: 30px;
    color: white;
    font-weight: 500;
    z-index: 50;
    position: absolute;
    bottom: 20px;
    right: 50%;
  }
