@use "./../utils/variables" as *;
@use "./../utils/mixins" as m;

.header
  {
    margin-bottom:47px;
    &__logo
      {
        @include m.width-height(100%,auto);
        padding: 23px 0 15px 0;
        text-align: center;
        box-shadow: 0px 2px 8px $color-shadow-dark;
          &__img{
            height: 31px;
            @include m.tablet
            {height:45px;}

            @include m.desktop
            {height:60px;}
          }
      }
    &__search
      {
        @include m.flex-justify-content-flex-direction-align-items(flex,center,column,center);
        @include m.width-height(100%,auto);
        padding-bottom: 67px;
        background-color: $color-header;
        @include m.tablet
        {padding-bottom:50px;}

        @include m.desktop
        {padding-bottom:60px;}
      
        p{
          @include m.flex-justify-content-flex-direction-align-items(flex,center,row,center);
          @include m.width-height(100%,auto);
          background-color:$color-bk-header;
        }
        h1 {
          @include m.width-height(78%,auto);
          @include m.font-size-font-weight(27px,bolder);
          text-align: center;
          margin: 0px auto -3px 37px;
          @include m.tablet
          {
            font-size: 35px;
            margin:0px auto -3px auto;
          }
        }

        h2{
          @include m.width-height(102%,auto);
          padding-top: 0;
          @include m.font-size-font-weight(20px,300);
          text-align: center;
          margin: 15px auto 33px auto;
          @include m.tablet
          {
          font-size: 25px;
          }
        }

      &__area{
         @include m.flex-justify-content-flex-direction-align-items(flex,center,row,center);
          flex-wrap: wrap;
          @include m.width-height(100%,auto);
          background-color: $color-bk-header;
          margin-bottom: 43px;

          &__icon{
            font-size: 19px;
            margin-left: -10px;
            @include m.tablet
            {
              font-size: 25px;
              margin-left: 90px;
            }
          }

          &__input{
            @include m.width-height(160px,50px);
            padding-left: 17px;
            background-color: $color-bk-header;
            border: none;
            color: $color-search-input;
            text-align: left;
            @include m.font-size-font-weight(17px,bold);
            @include m.tablet
            {
              font-size:20px;
              width: 250px;
            }

            @include m.desktop
            {
              font-size:30px;
              width: 350px;
            }
          }
        }
      }
// les menus //
&__menu
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1500px;
  margin: 0 auto 0 auto;height:70px;
  &__logo{
    @extend .header__logo;
    padding:0;
    & img
    {
        @extend .header__logo__img ;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -35%);
        @include m.desktop
        {height: 50px}
    }
  }
} 


&__menu__arrow
{
    position: absolute;
    left: 6%;
    top: 24px;
    font-size: 23px;
    font-weight: bold;
    @include m.desktop
    {font-size: 30px;}
}
  }

  .header__menu--palette
{
  @extend .header__menu;
  margin-top:12px;
}


